# dependencies
node_modules/
.pnpm-store/

# logs
*.log

# non-public environment variables
.env.local
.env.*.local

# caches
.eslintcache
.stylelintcache
*.tsbuildinfo

# vercel
.vercel

# misc
.DS_Store
.idea/

# astro
dist/
.astro/
/edition
dist_search/

# python
/env

# xslt
/data
/saxon/doc/
/saxon/notices/

pc_pattern_analysis_report.md
pc_patterns_summary.txt
textcomparison_dl-old.py
