---
import { components, Content } from "../content/annotation.mdx";
import Page from "../layouts/Page.astro";
import { createBaseurl } from "../lib/baseurl.ts";
---

<Page title="Annotation">
	<h1 class="my-6 bg-stone-400 p-0">
		<img src={createBaseurl("3Annotation.png")} alt="Annotation Button" />
	</h1>
	<Content components={{ ...components }} />
</Page>
<style is:global>
	p {
		padding: 0.5rem 0;
		text-align: justify;
	}

	a {
		color: #c00000;
	}
</style>
