---
import { Content } from "../content/annotation/index.mdx";
import Page from "../layouts/Page.astro";
import { createBaseurl } from "../lib/baseurl.ts";
---

<Page title="Annotation">
	<h1 class="my-6 bg-abacus p-0">
		<img src={createBaseurl("3Annotation.png")} alt="Annotation Button" />
	</h1>
	<Content />
</Page>
<style is:global>
	p {
		padding: 0.5rem 0;
		text-align: justify;
	}

	p a {
		color: #c00000;
	}
</style>
