---
import CurrentDate from "../components/CurrentDate.astro";
import SingleImage from "../components/SingleImage.astro";
import TextImage from "../components/TextImage.astro";
import { Content } from "../content/corpus/index.mdx";
import Page from "../layouts/Page.astro";
import { createBaseurl } from "../lib/baseurl.ts";
---

<Page title="Corpus">
	<h1 class="my-6 bg-abacus p-0">
		<img src={createBaseurl("Corpus-Button.jpg")} alt="Corpus" title="Corpus" />
	</h1>
	<Content
		components={{ SingleImage: SingleImage, TextImage: TextImage, CurrentDate: CurrentDate }}
	/>
</Page>
<style is:global>
	p {
		padding: 0.5rem 0;
		text-align: justify;
	}

	article p:nth-child(2) {
		display: inline;
	}
</style>
