---
import Page from "../layouts/Page.astro";
import { baseurl, createBaseurl } from "../lib/baseurl.ts";
---

<Page title="Austrian Baroque Corpus" baseurl={baseurl}>
	<div class="flex flex-col p-1 sm:mx-auto sm:flex-col sm:items-center sm:p-2">
		<figure class="py-4 sm:mb-4 sm:flex sm:flex-col">
			<img
				class="mr-4 max-w-[300px] sm:mr-0 sm:max-w-[200px]"
				alt="Geneigter Leser."
				title="Geneigter Leser."
				src={createBaseurl("GeneigterLeser.jpg")}
			/>
			<!--<figcaption class="pr-1 text-sm text-gray-500">Geneigter Leser.</figcaption> -->
		</figure>
		<h1 class="text-2xl font-medium">
			Herzlich willkommen auf den Seiten des Austrian Baroque Corpus!
		</h1>
	</div>
	<div class="flex flex-col p-1 sm:mx-auto sm:flex-col sm:items-center sm:p-2">
		<figure class="py-4 sm:mb-4 sm:flex sm:flex-col">
			<img
				class="mr-4 max-w-[300px] sm:mr-0 sm:max-w-[200px]"
				alt="Aber was ist das?"
				title="Aber was ist das?"
				src={createBaseurl("Aber_was_ist_das.jpg")}
			/>
			<!--<figcaption class="pr-1 text-sm text-gray-500">Aber was ist das?</figcaption> -->
		</figure>
		<p>
			<strong>ABaC:us – Austrian Baroque Corpus</strong> ist die Bezeichnung für eine digitale Sammlung
			von literarischen Texten aus der Barockzeit. Die Texte, die Sie hier einsehen und durchsuchen können,
			sind Teil einer reichhaltigen und weit verbreiteten Literatur, die sich mit der Vorbereitung auf
			den Tod beschäftigt und heute beinahe in Vergessenheit geraten ist. Den thematischen Kern der Sammlung
			bilden Schriften theologisch-erbaulichen Inhalts, insbesondere Ars moriendi-, Totentanz- und Memento
			mori-Literatur, die einen wesentlichen Teil damaliger Textproduktion darstellt.
		</p>
	</div>
	<div class="flex flex-col p-1 sm:mx-auto sm:flex-col sm:items-center sm:p-2">
		<figure class="py-4 sm:mb-4 sm:mr-0 sm:flex sm:max-w-[200px] sm:flex-col">
			<img
				class="mr-4 block max-w-[300px]"
				alt="was man Gutes gethan"
				title="was man Gutes gethan"
				src={createBaseurl("was_man_Gutes_gethan.jpg")}
			/>
			<!--<figcaption class="pr-1 text-sm text-gray-500">was man Gutes gethan</figcaption>-->
		</figure>
		<p>
			Mit ABaC:us wird der Versuch unternommen, zeitentfernte Printprodukte der Barockzeit für ein
			interessiertes, öffentliches (Fach-)Publikum mit innovativen texttechnologischen Methoden zu
			erschließen. Durch die Anwendung international anerkannter Standards stellt das Projektteam
			sicher, dass die aufbereiteten, annotierten historischen Textdaten verschiedenen
			Erkenntnisinteressen dienlich sind. In der texttechnologischen Erschließung dieser wertvollen
			Quellen wird sprachlich-kulturelles Erbe aus der Barockzeit bewahrt und eine empirische
			Grundlage zu dessen nachhaltiger, interdisziplinärer Erforschung und Interpretation
			geschaffen.
		</p>
	</div>
	<div class="flex flex-col p-1 sm:mx-auto sm:flex-col sm:items-center sm:p-2">
		<figure class="py-4 sm:mb-4 sm:mr-0 sm:flex sm:max-w-[200px] sm:flex-col">
			<img
				class="mr-4 block max-w-[300px]"
				alt="zur Welt hinaus."
				title="zur Welt hinaus."
				src={createBaseurl("zurWelt_hinaus.jpg")}
			/>
			<!--<figcaption class="pr-1 text-sm text-gray-500">zur Welt hinaus.</figcaption>-->
		</figure>
		<p>
			Das <strong>Austrian Centre for Digital Humanities and Cultural Heritage</strong> der <strong
				>Österreichischen Akademie der Wissenschaften</strong
			> stellt einen Teil der Sammlung testweise, kostenfrei und in hochwertiger Qualität für den wissenschaftlichen
			Gebrauch zur Verfügung.Seit 2025 verfügt ABaC:us über eine neue technische Basis, die den Erhalt
			der Applikation sicherstellt und neue, erweiterte Suchfunktionalitäten bietet (vgl. "<strong
				><a href="nutzung">Nutzbarkeit</a></strong
			>").
		</p>
	</div>
</Page>
