---
import Noske from "../components/Noske.astro";
import SearchLayout from "../layouts/Search.astro";
import { baseurl } from "../lib/baseurl.ts";
---

<SearchLayout title="Suche" baseurl={baseurl}>
	<div class="grid grid-cols-1">
		<div class="flex min-h-[600px] flex-col">
			<Noske id="hits" />
		</div>
	</div>
</SearchLayout>
