---
import EditionTable from "../components/EditionTable.astro";
import Noske from "../components/Noske.astro";
import PageFullWidth from "../layouts/PageFullWidth.astro";
import { baseurl } from "../lib/baseurl.ts";
---

<PageFullWidth title="CQL, Regex Suche" baseurl={baseurl}>
	<div class="grid grid-cols-2">
		<div class="columns-xl">
			<EditionTable baseurl={baseurl} />
		</div>
		<div class="flex min-h-[600px] columns-7xl flex-col">
			<Noske id="hits" />
		</div>
	</div>
</PageFullWidth>
