---
import SingleImage from "../components/SingleImage.astro";
import { Content } from "../content/cite.mdx";
import Page from "../layouts/Page.astro";
import { createBaseurl } from "../lib/baseurl.ts";
---

<Page title="Zitieren, Kontakt">
	<h1 class="my-6 bg-stone-400 p-0">
		<img src={createBaseurl("merckts_wohl.jpg")} alt="Annotation Button" />
	</h1>
	<Content components={{ SingleImage: SingleImage }} />
</Page>
<style is:global>
	p {
		padding: 0.5rem 0;
		text-align: justify;
	}

	a {
		color: #c00000;
	}

	td {
		vertical-align: top;
		padding: 0.5rem 0;
	}
</style>
