---

---

<div class="mt-6 hidden h-screen w-[100%] overflow-y-auto p-2 font-antiqua">
	<div class="bg-abacus">
		<img src="/snippet_Seitenansicht.jpg" alt="Seitenansicht" />
	</div>
	<div class="mx-auto grid grid-cols-2 p-4" id="prevNextLinks">
		<div class="flex justify-start">
			<a role="button" aria-label="vorherige Seite" data-link="prev">
				<svg
					style="width:25px;"
					fill="none"
					stroke="currentColor"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"
					></path>
				</svg>
			</a>
		</div>
		<div class="flex justify-end">
			<a role="button" aria-label="nächste Seite" data-link="next">
				<svg
					style="width:25px;"
					fill="none"
					stroke="currentColor"
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"
					></path>
				</svg>
			</a>
		</div>
	</div>
	<div id="noske-synoptic-view"></div>
</div>

<script>
	import { loadContent } from "../lib/synopticView";

	const prevNextLinks = document.querySelectorAll<HTMLElement>("#prevNextLinks a");

	Array.from(prevNextLinks).forEach((element) => {
		element.addEventListener("click", () => {
			// @ts-ignore
			const prevOrNext = element.dataset.link;
			const content = document.getElementById("edition-content");
			const id = prevOrNext === "prev" ? content!.dataset.prev : content!.dataset.next;
			loadContent(id!, "noske-synoptic-view", "", "");
		});
	});
</script>

<style is:global>
	@keyframes fadein {
		from {
			opacity: 0%;
		}

		to {
			opacity: 100%;
		}
	}

	/* Firefox < 16 */
	@keyframes fadein {
		from {
			opacity: 0%;
		}

		to {
			opacity: 100%;
		}
	}

	/* Safari, Chrome and Opera > 12.1 */
	@keyframes fadein {
		from {
			opacity: 0%;
		}

		to {
			opacity: 100%;
		}
	}

	/* Internet Explorer */
	@keyframes fadein {
		from {
			opacity: 0%;
		}

		to {
			opacity: 100%;
		}
	}

	.word {
		position: relative;
		scroll-margin-top: 20rem;
	}

	.word:hover::after {
		content: "Lemma: " attr(data-lemma) "\APos: " attr(data-type);
		position: absolute;
		bottom: 100%;
		left: 0;
		z-index: 1000;
		min-width: 100px;
		margin-bottom: 5px;
		padding: 12px;
		border: 1px solid rgb(200 200 200);
		border-radius: 7px;
		background-color: rgb(232 232 232);
		color: rgb(0 0 0);
		box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
		font-size: 14px;
		white-space: pre;
	}

	#noske-synoptic-view.active {
		animation: fadein 2s;
	}
</style>
