---
import Navigation from "./Navigation.astro";

const { backgroundcolor, baseurl } = Astro.props;
---

<nav class={`${backgroundcolor} border-b border-l-2 border-red-700`}>
	<Navigation textcolor="text-white" baseurl={baseurl} />
</nav>
