---
import EditionFragment from "./EditionFragment.astro";
---

<div class="my-8">
	<div class="py-4 text-center sm:px-2 md:px-2">
		<div class="px-4">
			<h4 class="pt-2 text-lg">Einfache Suche in den Abacus Transkripten</h4>
			<div class="text-sm text-gray-600">
				<a target="_blank" href="https://abacus-noske.acdh-dev.oeaw.ac.at/crystal"
					>Erweiterte Suche in Crystal</a
				>
			</div>
			<div class="grid grid-cols-2">
				<div class="w-full p-4">
					<div id="noske-search" class="text-center"></div>
					<div id="hitsbox"></div>
					<div class="mx-auto grid grid-cols-2">
						<div id="noske-pagination" class="text-right"></div>
						<div id="statsbox" class="text-left"></div>
					</div>
				</div>
				<div class="w-full p-4">
					<EditionFragment>
						<div id="noske-synoptic-view" class="h-[1000px] overflow-y-auto"></div>
					</EditionFragment>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	import { NoskeSearch } from "acdh-noske-search";
	import { loadContent } from "../lib/synopticView";

	const search = new NoskeSearch({
		container: "noske-search",
		autocomplete: true,
		wordlistattr: ["word", "lemma", "type", "id", "placeName", "persName"],
	});

	search.minQueryLength = 2;

	search.search({
		debug: false,
		client: {
			//base: "http://localhost:8080",
			base: "https://abacus-noske.acdh-dev.oeaw.ac.at",
			corpname: "abacus",
			attrs: "word,lemma,type,id,placeName,persName",
			structs: "doc,g",
			refs: "doc.id,doc.title",
		},
		hits: {
			id: "hitsbox",
			css: {
				table: "table-auto",
				kwic: "text-cyan-600 text-lg",
				trHead: "bg-gray-200",
			},
		},
		searchInput: {
			id: "noske-input",
			placeholder: "Tippe zumindest zwei Zeichen um Wortvorschläge zu erhalten...",
			button: "Suchen",
		},
		pagination: {
			id: "noske-pagination",
			css: {
				select: "rounded-lg text-xl p-2",
			},
		},
		stats: {
			id: "statsbox",
			label: "Ergebnisse:",
			css: {
				label: "text-lg text-gray-600 pt-2",
			},
		},
		autocompleteOptions: {
			id: "noske-autocomplete",
			css: {
				div: "max-w-4xl w-4xl bg-white border border-gray-300 absolute ml-[10%] mt-10 text-left overflow-y-scroll overflow-x-hidden max-h-[400px]",
				ul: "p-0",
				li: "p-2 hover:bg-gray-100 text-sm text-gray-500 hover:cursor-pointer",
			},
		},
		config: {
			// customUrl: "/edition",
			// urlparam: { img: "on", aside: "closed" },
			customSynopticView: (resultLineId) => {
				console.log(resultLineId);
				// const synopticView = document.getElementById("noske-synoptic-view");
				Object.entries(resultLineId).forEach(([key, value]) => {
					document.getElementById(key)?.addEventListener("click", () => {
						let id = key.split("__")[1];
						let hash = key.split("__")[2];
						loadContent(id, "noske-synoptic-view", hash);
					});
				});
			},
		},
	});
</script>
