---
import { createBaseurl } from "../lib/baseurl.ts";

interface Image {
	image: string;
	alt: string;
	caption: string;
	title?: string;
}
interface Props {
	image: Image;
}
const { image } = Astro.props;
---

<div class="flex flex-col">
	{
		(
			<div class="my-4 max-w-[60%]">
				<figure class="object-contain">
					<img
						class="hover:saturate-50"
						src={createBaseurl(image.image.slice(1))}
						alt={image.alt}
						title={image.title}
					/>
					<figcaption class="pr-1 text-sm text-gray-500">{image.caption}</figcaption>
				</figure>
			</div>
		)
	}
</div>
