---

---

<div class="font-segoe text-lg text-gray-600">
	<!--<a target="_blank" href="https://abacus-noske.acdh-dev.oeaw.ac.at/crystal"
		>Erweiterte Suche in Crystal</a
>-->
	<form class="m-2 h-full">
		<span
			class="relative mt-4 h-[27px] w-[90%] overflow-visible rounded-sm bg-white p-0.5 align-top font-antiqua"
			id="input-query"
			><input
				type="checkbox"
				value="unused"
				class="m-0 w-[1px] p-0 opacity-0"
				id="vkbtquery"
			/><label
				for="vkbtquery"
				class="left-0 top-0 m-2 h-[32px] cursor-pointer rounded-md border border-gray-300 bg-gray-300 p-2 align-middle text-sm shadow-md"
				>äāâ</label
			><ul
				id="vkbtquerymenu"
				role="menu"
				class="absolute bottom-0 left-14 z-50 m-0 mt-[8px] hidden list-none whitespace-nowrap border border-gray-300 bg-white p-0.5"
				data-context="abacus"
			>
				<li
					role="menuitem"
					class="m-1 inline-block w-8 cursor-default bg-gray-300 pl-0 text-center shadow-md"
				>
					ä
				</li><li
					role="menuitem"
					class="m-1 inline-block w-8 cursor-default bg-gray-300 pl-0 text-center shadow-md"
				>
					ā
				</li><li
					role="menuitem"
					class="m-1 inline-block w-8 cursor-default bg-gray-300 pl-0 text-center shadow-md"
				>
					â
				</li><li
					role="menuitem"
					class="m-1 inline-block w-8 cursor-default bg-gray-300 pl-0 text-center shadow-md"
				>
					æ
				</li><li
					role="menuitem"
					class="m-1 inline-block w-8 cursor-default bg-gray-300 pl-0 text-center shadow-md"
				>
					ë
				</li><li
					role="menuitem"
					class="m-1 inline-block w-8 cursor-default bg-gray-300 pl-0 text-center shadow-md"
				>
					e̅
				</li><li
					role="menuitem"
					class="m-1 inline-block w-8 cursor-default bg-gray-300 pl-0 text-center shadow-md"
				>
					m̅
				</li><li
					role="menuitem"
					class="m-1 inline-block w-8 cursor-default bg-gray-300 pl-0 text-center shadow-md"
				>
					n̅
				</li><li
					role="menuitem"
					class="m-1 inline-block w-8 cursor-default bg-gray-300 pl-0 text-center shadow-md"
				>
					œ
				</li><li
					role="menuitem"
					class="m-1 inline-block w-8 cursor-default bg-gray-300 pl-0 text-center shadow-md"
				>
					ö
				</li><li
					role="menuitem"
					class="m-1 inline-block w-8 cursor-default bg-gray-300 pl-0 text-center shadow-md"
				>
					ü
				</li><li
					role="menuitem"
					class="m-1 inline-block w-8 cursor-default bg-gray-300 pl-0 text-center shadow-md"
				>
					ß
				</li><li
					role="menuitem"
					class="m-1 inline-block w-8 cursor-default bg-gray-300 pl-0 text-center shadow-md"
				>
					’
				</li>
			</ul></span
		>
	</form>
</div>
<script>
	const vkbtlabel = document.getElementById("vkbtquery");
	const vkbtmenu = document.getElementById("vkbtquerymenu");
	vkbtlabel?.addEventListener("click", () => {
		vkbtmenu?.classList.toggle("hidden");
	});
	const vkbtmenuitems = document.querySelectorAll("#vkbtquerymenu li");
	vkbtmenuitems.forEach((item) => {
		item.addEventListener("click", (e) => {
			const noskeInput = document.getElementById("noske-input-input") as HTMLInputElement;
			// @ts-ignore
			noskeInput.value += e.target!.textContent;
			noskeInput.dispatchEvent(new Event("input", { bubbles: true }));
		});
	});
</script>
